<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='classless.css') }}">
    <title>Chill-o-meter</title>
</head> 

<body>
    <header>
        <nav>
            <ul>
                <li>Brand</li>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.manual') }}">Manual</a>
                <li><a href="{{ url_for('main.privacy') }}">Privacy / Datenschutz</a></li>
                <li class="float-right"><a href="{{ url_for('main.legal') }}">Legal Notice / Impressum</a></li>
            </ul>
        </nav>
        {% block header %}{% endblock %}
    </header>
    {%- block content %}{% endblock -%}
</body>

<footer class="bg-light">
    <section>
        <h5>Chill-o-meter</h5>
        Code on <a href="https://bitbucket.org/skoe/chillometer">Bitbucket</a>.
    </section>
</footer>

</html>
